*{
    padding: 0;
    margin: 0;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Saira Extra Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;    
}
h5{
    font-size: 25px;
}
h6{
    font-size: 23px;
}
.bg-headernav{
    background: #231D22;
}
.navbar{
    margin:0 0;
    overflow: hidden;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
  
  }
#grpk-logo{
    width: 150px;
    position: relative;
/*    height: 90px;*/
}
#navtop{
padding-top: 57px;
}
#navb a{
  margin-left: 4px;
  border-radius: 10px;
  padding:10px 17px;
}
#navb a:hover{
  background-color: #F1CA05;

}
  .navbar-brand{
    margin-left: 62px;

  }

  .navbar-nav{
    margin-right: 45px;
  }
.bg-cover{
    background-image: url('coverk.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 450px;
    display: flex;
    background-position: center;
    align-items: center;
    position: relative;

}
#canvas-basic {
    opacity: 0.8;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/*.color-overlay{
    height: 450px;
    width: 100%;
    background: #231D22;
    opacity: .7;
    position: absolute;

}*/
#header-text{
    color: white;
    z-index: 1;
    display: block;
    text-align: center;
    
    font-weight: bolder;
    padding: 145px 0px 145px 0px;
}
#welcome-text1{
    font-size: 80px;
    letter-spacing: 8px;
   color: #F1CA05;
}
#welcome-text3{
    font-size: 80px;
    letter-spacing: 8px;
   color: #231D22;
}
#welcome-text2{
    font-size: 40px;
    letter-spacing: 8px;
  
}




#head-contact{
   
    font-size: 40px;
    border-radius: 50%;
}
.fa-facebook{
    padding-right: 10px;
}


.bg-biography-section{
    background: #F1CA05;
   
}
.my-name{
    padding-top: 20px;
}
#educ-attainment{
    padding-top: 40px;
}
.school-text{
    padding: 20px 0px 20px 0px;
}
.year-text{
    padding: 20px 0px 20px 0px;    
}

.bio-row{
    padding-top: 40px;
}

.my-avatar{
    width: 250px;
    height: 250px;
}
#techskills-text{
    padding-top: 40px;
}

#plusicon{
    font-size: 30px;
}


.devicons{
    padding-top: 30px;
    padding-bottom: 30px;
}
#devicon-skills{
    
    font-size: 150px;
}
#otherskills-text{
    padding-top: 40px;
}
li{
    font-size: 25px;
    letter-spacing: 4px;
}
.otherskills{
    padding-bottom: 40px;
}
.container-videos{
    padding: 20px;
    display: block;
    justify-content: center;

}
.container-videos .video-box > video{
    width: 300px;
    height: 300px;
    object-fit: fill;
    background-position: center;
}
.bg-subfoot{
    
    background-image: url('coverk.jpg');
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.color-overlay2{
    height: 100%;
    width: 100%;
    background: #F1CA05;
    opacity: .7;
    position: absolute;
}
#foot-text{
    color: white;
    z-index: 1;
    display: block;
    text-align: center;
    font-weight: bolder;
    padding: 145px 0px 145px 0px;
}

.bg-footer{
    height: 100%;
    position: relative;
    background: #231D22;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
}
#emails{
    padding: 1rem 1rem;
}





